@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Coisas novas estão por vir!</h1>
    <p>Aguarde mais um pouco!.</p>
    <p>Projeto desenvolvido por: <a href="https://github.com/richard-pyx">Richard</a>.</p>
</div>
